.modal-blur {
  -webkit-filter: blur(2px) grayscale(50%);
}

.modal-focus {
  position: fixed;
  left: 25%;
  top: 25%;
  width: 50%;
  margin: 0;
  padding: 0;
  border: 1px outset black;
  border-radius: 5%;
}
